feedparser
gitpython
# --- For-Bot-Working --------- #
pyrogram
TgCrypto
Pyromod
psycopg2-binary
python-dotenv
Pyromod
speedtest-cli
TgCrypto
wget
# --- For-Web-Response ------- #
aiohttp
pymongo
dnspython
